.dorwljin{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    align-content: center;
    margin-top: 20px;
    margin-left: 20px;
}
.dugui{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-radius: 50%;
    border: 1px black solid;
    margin: auto;
}
body{
    display: flex;
    
}